<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Grainne Reidy</title>
      <script src="https://kit.fontawesome.com/75a3ff46b4.js" crossorigin="anonymous"></script>
      <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
   </head>
   <body>  
         <nav class="sidebar">
        
            <ul class="nav-links">
            {% if site.data.navigation.docs[0] %}
               {% for item in site.data.navigation.docs %}
                  <li class="item"><button class="dropdown-btn"><h2><i class="{{ item.class }}"></i><a href="{{ item.url }}" class="item-text">{{ item.page }}</a><i class="{{ item.caret }}"></i></h2></button></li>
                     {% if item.subfolderitems[0] %}
                        <ul class="sub-nav-links">
                           {% for entry in item.subfolderitems %}
                              <li class="sub-item"><button class="dropdown-btn"><h3><i class="{{ entry.class }}"></i><a href="{{ entry.url }}" class="sub-item-text">{{ entry.page }}</a><i class="{{ entry.caret }}"></i></h3></button>
                                 {% if entry.subsubfolderitems[0] %}
                                    <ul class="sub-sub-nav-links">
                                    {% for subentry in entry.subsubfolderitems %}
                                       <li class="sub-sub-item"><button class="dropdown-btn"><h4><i class="{{ subentry.class }}"></i><a href="{{ subentry.url }}" class="sub-sub-item-text">{{ subentry.page }}</a><i class="{{ subentry.caret }}"></i></h4></button></li>
                                    {% endfor %}
                                    </ul>
                                 {% endif %}
                              </li>
                           {% endfor %}
                        </ul>
                     {% endif %}
                  {% endfor %}
               {% endif %}
            </ul>
         </nav>   
   </body>
</html>
