<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>AccountsIQ API</title>
      <script src="https://kit.fontawesome.com/75a3ff46b4.js" crossorigin="anonymous"></script>
   </head>
   <body>  
         <nav class="sidenav">
            <ul class="nav-links">
            {% if site.data.navigation.docs[0] %}
               {% for item in site.data.navigation.docs %}

                  <div class=dropdown-btn> 
                     <li class="item">
                        <!-- <a href="{{ item.url }}"> -->
                           <i class="{{ item.class }}"></i>
                           <span class="item-text"> {{ item.page }}</span>
                           <i class="{{ item.caret }}"></i>
                        <!-- </a> -->
                     </li>
                  </div>

                     {% if item.subfolderitems[0] %}
                        <ul class="sub-nav-links">
                           {% for entry in item.subfolderitems %}
                              <div class=sub-dropdown-btn>
                                 <li class="sub-item">
                                    <div class="sub-item-top-item">
                                       <a href="{{ entry.url }}">
                                          <i class="{{ entry.class }}"></i>
                                          <i class="{{ entry.caret }}"></i>
                                          <span class="sub-item-text"> {{ entry.page }}</span> 
                                       </a>
                                    </div>

                                 {% if entry.subsubfolderitems[0] %}
                                    <ul class="sub-sub-nav-links">
                                       {% for subentry in entry.subsubfolderitems %}
                                          <li class="sub-sub-item">
                                             <a href="{{ subentry.url }}" >
                                                <i class="{{ subentry.class }}"></i>
                                                <span class="sub-sub-item-text"> {{ subentry.page }}</span>
                                             </a>  
                                          </li>
                                    {% endfor %}
                                    </ul>
                                 {% endif %}
                                 </li>
                           </div>
                           {% endfor %}
                        </ul>
                     {% endif %}
                  {% endfor %}
               {% endif %}
            </ul>
         </nav>   
   </body>
</html>

<script>
   ////DROPDOWN WITH TWO LEVELS////

var dropdown = document.getElementsByClassName("dropdown-btn");
var i;

for (i = 0; i < dropdown.length; i++) {
  dropdown[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var dropdownContent = this.nextElementSibling;
    if (dropdownContent.style.display === "block") {
      dropdownContent.style.display = "none";
    } else {
      dropdownContent.style.display = "block";
    }
  });
}

var subdropdown = document.getElementsByClassName("sub-dropdown-btn");
var i;

for (i = 0; i < subdropdown.length; i++) {
  subdropdown[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var subdropdownContent = this.nextElementSibling;
    if (subdropdownContent.style.display === "block") {
      subdropdownContent.style.display = "none";
    } else {
      subdropdownContent.style.display = "block";
    }
  });
}
</script>