<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Grainne Reidy</title>
      <script src="https://kit.fontawesome.com/75a3ff46b4.js" crossorigin="anonymous"></script>
      <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
   </head>
   <body>  
         <nav>
            <h2>{{ site.data.navigation.docs_list_title }}</h2>
            <div>
            {% if site.data.navigation.docs[0] %}
               {% for item in site.data.navigation.docs %}
                  <li><a href="{{ item.url }}">{{ item.page }}</a>
                     {% if item.subfolderitems[0] %}
                        <ul>
                           {% for entry in item.subfolderitems %}
                              <li><a href="{{ entry.url }}">{{ entry.page }}</a>
                                 {% if entry.subsubfolderitems[0] %}
                                    <ul>
                                    {% for subentry in entry.subsubfolderitems %}
                                       <li><a href="{{ subentry.url }}">{{ subentry.page }}</a></li>
                                    {% endfor %}
                                    </ul>
                                 {% endif %}
                              </li>
                           {% endfor %}
                        </ul>
                     {% endif %}
                  </li>li>
                  {% endfor %}
               {% endif %}
            </div>
         </nav>   
   </body>
</html>
