---
---
@import url('https://fonts.googleapis.com/css?family=Sora:100,200,300,400,500,600,700,800');
@import "{{ site.theme }}";

* {
  font-family: 'Sora';
  font-size: 1em;
}
a {
  color: black;
}
ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/*HEADER*/

.page-header { 
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: #fff;
  background-image: none;
  width: 100%;
  height: 6em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #eed1fe;
}
.company {
  color:#162c5e;
}
.company h1 {
   font-size: 2rem;
   font-weight:400;
}
.project-name span {
  color: #425eff;
  font-weight: 600;
}
.nav-container {
  width: 40%;  
}
.nav-container nav ul{
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
.nav-container nav ul li a {
   color: #162c5e;
   font-size: 1.25rem;
   font-weight: 600;
   text-decoration: none;
}

/*SIDENAV GENERAL*/
.main-container,
.main-content,
.sidenav,
.article {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-content{
  display: flex;
  flex-wrap: nowrap;
  box-sizing: border-box;
  margin: 0;
  width: 100%;
  padding: 0;
  height: 100vh;
  max-width: 100%;
  justify-content: space-between;
}
.sidenav {
  background: #f1f5fc;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 20em;
}
/*SIDENAV LINKS*/
.sidebar {
  width:100%;
}
/*NAV BUTTON BACKGROUND*/

.nav-links .item {
  width:100%;
  background: firebrick;
}
.sub-nav-links .sub-item {
  background: yellow;
  width: 100%; 
}
.sub-sub-nav-links .sub-sub-item {
  background: darkkhaki;
  width: 100%;
  border: 2px solid gold;
}
/*NAV LINK TEXT*/
.item-btn {
  font-size: 1.5rem;
  width: 100%;
  border: 2px solid black;
  padding-left: 1em;
  background: pink;

}
.sub-item-btn {
  font-size: 1.25rem;
  width: 100%;
  padding-left: 2em;
  border: 2px solid black;
}
.sub-sub-item-btn {
  font-size: 1rem;
  width: 100%;
  padding-left: 3em;
  border: 2px solid black;
}

/*ARTICLE*/
.article {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  width: 100%;
}
/*FOOTER*/
footer {
  text-align: center;
  position:fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 1;
  background: #fff;
}

@media only screen and (max-width: 600px) {
  .page-header,
  .main-content,
  {
    flex-direction: column;
    width: 100%;
  }
  .article {
    width: 100%;
  }
  .sidenav {
    width: 100%;
  }
  .main-content {
    justify-content: flex-start;

  }
}