---
---
@import url('https://fonts.googleapis.com/css?family=Sora');
@import "{{ site.theme }}";
.main-content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
   color: pink;
   font-family: 'Sora';
  }
      
 p {
   display: block;
   font-family: 'Sora';
    }
 a {
  color: #426eff;
  font-family: 'Sora';
  text-decoration: none;
}
}
.page-header {
  text-align: left;
  padding: 0;
  background-color: #426eff;
  background-image: none;
  font-family: 'Sora';
}
.project-name {
  color:aquamarine;
}
footer {
  font-family: 'Sora';
  width: 100%;
  float: right;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  border: none;
  z-index: -1;
  }

.sidebar{
  position: fixed;
  margin-top:5.25%;
  width: 20%;
  top:0;
  left: 0;
  height: 100%;
  background: blue;
  text-align: left;
  height: 100%;
  }
.nav-title{
  color: green;
  font-size: x-large;
  }
.sidebar ul {  
  list-style-type: none;
  background: peru;
  padding-left: 0;
  }
.sidebar a {
  color:darkmagenta;
}
.sidebar a:hover {
  color: forestgreen;
}
.sidebar a:active {
  color: violet;
}
.item-btn {
  border-left: 5px solid transparent;
  position:relative;
  background: greenyellow;
  width: 100%;
  font-size: 18px;
  line-height: 60px;
  font-weight: 500;
  display: block;
  }
.sub-item-btn {
  background: silver;
  position: relative;
  width: 100%;
  line-height: 50px;
  display: block;
  padding-left: 20px;
}
.sub-sub-item-btn {
  background: seagreen;
  position: relative;
  line-height: 40px;
  width: 100%;
  display: block;
  padding-left: 40px;

}