---
---
@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css?family=Sora:100,200,300,400,500,600,700,800');

* {
  font-family: 'Sora';
}
.main-container,
.page-header,
.main-content,
.sidenavContainer,
.article {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.main-content{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  max-width: 100%;
  align-items: flex-start;
}
a {
  color: #425eff;
}
a:hover {
  color: #425eff80;
  text-decoration: none;
}
/*HEADER*/

.page-header { 
  background: #fff;
  background-image: none;
  width: 100%;
  height: 6em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #f1f5fc;
}
.company {
  width: 100%;
}
.project-name {
   font-weight:400;
   font-size: 2rem;
   color: #162c5e;
   text-align: left;
}

.project-name span {
  color: #425eff;
  font-weight: 600;
}
 .nav-container {
  width: 40%;
} 
.nav-container nav ul{
  display: flex;
  width: 100%;
  justify-content:space-around;
  align-items: flex-end;
  list-style: none;
}

.nav-container a {
   color: #162c5e;
   font-size: 1.25rem;
   display: inline-block;
   font-weight: 600;
   text-decoration: none;
}
.nav-container a:hover {
  color:#425eff;
}

/*SIDENAV GENERAL*///////////////////////////////////////////////////////////////////////////////////

/*NAV AREA*/
.sidenavContainer {
  background: #162c5e;
  width: 100%;
  min-width: 230px;
  padding-left: 1.5%;
  padding-right: 1.5%;
}

/*SIDENAV LINKS LIST*/
.sidenav {
  width:100%; 
}
.sidenav ul, 
.sidenav li {
  list-style: none;
  padding: 0;
  margin: 0;
}
.item {
  border-bottom: 1px solid #f1f5fc;
}
.item, .sub-item {
  position: relative;
}

/*NAV LINK HOVER*/
.sidenav a {
  color:white;
  width: 100%;
}
.sidenav a:hover {
  color: aqua;
  transition: 0.2s ease-out;
}

.item a:hover,
.sub-item-top-item a:hover,
.sub-sub-item a:hover {
  background: gray;
  width: 100%;
  color:purple;
  display: inline-block;
}

/*NAV LINK TEXT*/
.item-text {
  font-size: 1.5rem;
  line-height: 3rem;
 
}
.sub-item-text {
  font-size: 1.25rem;
  line-height: 2.5rem;
  margin-left: 1rem;
 
}
.sub-sub-item-text { 
  font-size: 1rem;
  line-height: 2rem;
  margin-left: 5rem;  
}


/*ICONS*/

i {
}
.fa-house-user {
  margin-right: 1rem;
 
}
.fa-caret-down {
  position: absolute;
  right: 0;
}

/*ARTICLE*/
.article {
  width: 100%;
  padding-top: 2em;
  padding-left: 5em;
}
.article h1,
.article h2,
.article h3 {
  color: #162c5e;
}
/*FOOTER*/
footer {
  text-align: center;
  position:fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 1;
  background: #fff;
}

/*MEDIA QUERIES*/
@media  only screen and (min-width: 769px){
  .page-header, .main-content {
    flex-direction: row; 
  }
  .sidenavContainer {
    height: 100vh;
    width: 29rem;
  }

}

