<!DOCTYPE html>
<html lang="{{ site.lang | default: "en" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://kit.fontawesome.com/75a3ff46b4.js" crossorigin="anonymous"></script>
    <script src="main.js" defer></script>
    {% include head-custom.html %}
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <div class="header-container">
      <header class="page-header" role="banner">
        <div class="company">
          <div class="project-name">
            <a href="#" >
              <span class="name-main hover">Accounts</span>
              <span class="name-accent hover">IQ</span>
            </a>
          </div>
        </div>
        <div class="nav-container">
          <nav>
            <ul>
              <li><a href="https://www.accountsiq.com/">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
            </ul>
          </nav>
        </div>
        <div >
          <a href="#"class="hamburger-menu">
            <div class="toggle-icon bars">
              <span class="bar hamburger-top"></span>
              <span class="bar hamburger-middle"></span>
              <span class="bar hamburger-bottom"></span>   
            </div>
          </a>
          
        </div>
        
      </header>
    </div>

     
    <div class="main-container"> 
      <main id="content" class="main-content" role="main">
      
        <div class="sidenavContainer">{% include navigation.html %}</div>
        <div class="article">{{ content }}</div>
      </main>
    </div>
    <footer class="site-footer">Grainne Reidy 2022</footer>
  </body>
</html>
