<!DOCTYPE html>
<html lang="{{ site.lang | default: "en" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://kit.fontawesome.com/75a3ff46b4.js" crossorigin="anonymous"></script>
    <!-- <script src="assets/js/javascripts/main.js" defer></script> -->
    {% include head-custom.html %}
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <div class="header-container">
      <header class="page-header" role="banner">
        <div class="company">
          <div class="project-name">
            <a href="#" >
              <span class="name-main hover">Accounts</span>
              <span class="name-accent hover">IQ</span>
            </a>
          </div>
        </div>
        <div class="nav-container">
          <nav>
            <ul>
              <li><a href="https://www.accountsiq.com/">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
            </ul>
          </nav>
        </div>
        <div >
          <a href="#"class="hamburger-menu">
            <div class="toggle-icon bars">
              <span class="bar hamburger-top"></span>
              <span class="bar hamburger-middle"></span>
              <span class="bar hamburger-bottom"></span>   
            </div>
          </a>
          
        </div>
        
      </header>
    </div>

     
    <div class="main-container"> 
      <main id="content" class="main-content" role="main">
      
        <div class="sidenavContainer">{% include navigation.html %}</div>
        <div class="article">{{ content }}</div>
      </main>
    </div>
    <footer class="site-footer">AccountsIQ 2022</footer>
  </body>
</html>


<script>
  ///HAMBURGER MENU///////

const hamburgerMenu = document.getElementsByClassName('hamburger-menu')[0];
const navLinks = document.getElementsByClassName('nav-container')[0];
const sideNav = document.getElementsByClassName('sidenavContainer')[0];
const article = document.getElementsByClassName('article')[0];
const navToggle = document.getElementsByClassName('hamburger-menu')[0];

hamburgerMenu.addEventListener('click', () => {
    navLinks.classList.toggle('active')
    sideNav.classList.toggle('active')
    article.classList.toggle('active')
    navToggle.classList.toggle('active')
    })


window.addEventListener("resize", () => {
    if(document.body.clientWidth > 769) {
       navLinks.classList.remove('active')
       sideNav.classList.remove('active') 
       article.classList.remove('active')
       navToggle.classList.remove('active')
    }    
})

////DROPDOWN WITH TWO LEVELS////

var dropdown = document.getElementsByClassName("dropdown-btn");
var i;

for (i = 0; i < dropdown.length; i++) {
  dropdown[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var dropdownContent = this.nextElementSibling;
    if (dropdownContent.style.display === "block") {
      dropdownContent.style.display = "none";
    } else {
      dropdownContent.style.display = "block";
    }
  });
}

var subdropdown = document.getElementsByClassName("sub-dropdown-btn");
var i;

for (i = 0; i < subdropdown.length; i++) {
  subdropdown[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var subdropdownContent = this.nextElementSibling;
    if (subdropdownContent.style.display === "block") {
      subdropdownContent.style.display = "none";
    } else {
      subdropdownContent.style.display = "block";
    }
  });
}
</script>